@media (max-width: 1629px) {
    

    
}

@media (max-width: 1488px) {
   
    .neatnea{
        width: 400px;
        height: 450px;
    }
    
}

@media (max-width: 1415px) {
    
    .bwrBRw{
        background: #36424d;
        max-width: 575px;
        width: 75%;
        border-radius: 8px;
      } 
    
}

@media (max-width: 1399px) {
    
    .rsnnrsmnyr2{
        margin-left: 50px;
    }
}

@media (max-width: 1295px) {
    
    
    
}

@media (max-width: 1199px) {
    
    .jnsrtnrmt{
        margin-left: 330px;
    }
    
    .bwrBRw{
        width: 87%;
    }
    
    .neatnea{
        width: 350px;
        height: 365px;
    }
    
}

@media (max-width: 1095px) {
    
    
    
}

@media (max-width: 1030px) {
    
    .neatnea{
        width: 300px;
        height: 275px;
    }
    
}

@media (max-width: 991px) {
    
    .rsnnrsmnyr1 {
        margin-left: 2px;
        margin-bottom: 0px;
    }
    
    .rsnnrsmnyr2{
        margin-left: 0px;
        margin-top: 5px;
    }
    
    .jnsrtnrmt{
        margin-left: 175px;
    }
    
   .navbar-brand{
    margin-right: 470px;
   } 
   
   .bwrBRw{
       max-width: 390px;
   }
   
   .neatnea{
      display: none;
   }
    
}

@media (max-width: 795px) {
    
    
    
}

@media (max-width: 767px) {
    
  .bwrBRw{
    background: #36424d;
    max-width: 575px;
    width: 75%;
    border-radius: 8px;
  }  
  
  .navbar-brand {
      margin-right: 200px;
  }
    
}

@media (max-width: 745px) {
 
    
    
}

@media (max-width: 646px) {
    
    .jnsrtnrmt{
        margin-left: 1px;
    }
    
}

@media (max-width: 575px) {
    
    
    
}

@media (max-width: 535px) {
    
    .bwrBRw{
        width: 80%;
    }
    
}    

@media (max-width: 510px) {
    
.aetnneta3{
    background: #FF6E30;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 25px;
    border-radius: 8px;
    color: #FDF5FF;
    margin-top: 5px;
    margin-bottom: 5px;
}
}

@media (max-width: 478px) {
    
    .baabeda{
        width: 120px;
        margin-right: 5px;
    }
    
}

@media (max-width: 374px) {
 
    
}

@media (max-width: 245px) {
    
    
    
}

@media (max-width: 240px) {
    
    
    
}