*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,a,li,ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}


.jryrjjry1{
    font-size: 38px;
    color: chocolate;
    margin-right: 12px;
}

.navbar-brand{
    margin-right: 257px;
}

.aetnneta1{
    font-size: 16px;
    color: #FFFFFFC7;
    margin-right: 41px;
    margin-top: 20px;
}

.natenate1{
    background: #1e252b;
}

.nttaeznteaneta{
    background: #1e252b;  
}

.aetnneta2{
    background: #FF6E30;
    padding-top: 12px;
    padding-right: 28px;
    padding-bottom: 12px;
    padding-left: 28px;
    border-radius: 8px;
    color: #FDF5FF;
}

.navbar{
    background: #1e252b;
}

.aetnneta3{
    background: #FF6E30;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 12px;
    padding-left: 36px;
    border-radius: 8px;
    color: #FDF5FF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.natenate2{
    background: #1e252b;
}

.JATJATRNjytdjytd1{
    font-size: 50px;
    max-width: 600px;
    color: #FFFFFFE5;
}

.JATJATRNjytdjytd2{
    font-size: 18px;
    color: #FFFFFF8C;
    margin-top: 30px;
    margin-bottom: 60px;
}

.eqahnttneh{
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 18px;
    margin-left: 18px;
}

.baabeda{
border: 1.5px solid;
border-image-source: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
background: transparent;
    
}

.bwrBRw{
    background: #36424d;
    max-width: 390px;
    width: 61%;
    border-radius: 8px;
}

.neatnea{
    margin-left: 140px;
}

.rjnastnrast1{
    display: flex;
    padding-top: 255px;
}

.aehtnante1{
    width: 33px;
    height: 55px;
    color: #FFFFFFC7;
    margin-right: 26px;  
}

.aehtnante2{
    width: 33px;
    height: 55px;
    color: #FFFFFFC7;
    margin-right: 26px; 
}

.aehtnante3{
    width: 33px;
    height: 55px;
    color: #FFFFFFC7;
    margin-right: 26px; 
}

.natenate3{
    background: #1e252b;
}

.naetnet1{
    font-size: 48px;
    color: #FFFFFFE5;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 200px;
}

.naetnet2{
    font-size: 18px;
    color: #FFFFFF8C;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
    padding-bottom: 90px;
}



.FIGMA{
    font-size: 24px;
    color: #FFFFFFC7;
    margin-left: 30px;
}

.Free{
    font-size: 18px;
    color: #FFA5378C;
    margin-left: 30px;
}

.lorem{
    font-size: 16px;
    color: #FFFFFF8C;
    max-width: 326px;
    margin-bottom: 30px;
}

.Visit{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 15px;
    margin-left: 160px;
}

.aetanter1{
    font-size: 32px;
    color: red;
    margin-right: 19px;
    margin-bottom: 133px;
}

.narnarrmsnay{
    margin-bottom: 133px;
}

.aetanter2{
    font-size: 32px;
    color: #FF6E30;
}

.webvbeW{
    display: flex;
}

.narnarrmsnay{
    display: flex;
}

.tdmkmtdy{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 38px;
    padding-right: 38px;
    background: #1e252b;
    border: 1px solid #FFFFFF1A;
    border-radius: 8%;
    margin: auto;
    display: flex;
}

.natenate4{
    background: #1e252b;
    padding-top: 200px;
}

.jnsrtnrmt{
    font-size: 24px;
    color: #FFFFFFCC;
    margin-left: 498px;
    padding-top: 55px;
    margin-bottom: 55px;
}

.nrnfsrnnrf{
    border-radius: 25px;
    color: #2C353D33;
    background: #2C353D33;
}

.rsnnrsmnyr1{
    margin-bottom: 56px;
    margin-left: 82px;
    margin-right: 107px;
}

.rsnnrsmnyr2{
    margin-right: 107px;
}

.rjsmytrjmyryjm{
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    background: #FF6E30;
    border-radius: 8px;
}

.natenate5{
    background: #1e252b;
    padding-top: 200px;
}

.bbeatENTBentb1{
    font-size: 48px;
    color: #FFFFFFE5;
}

.bbeatENTBentb2{
    font-size: 18px;
    max-width: 427px;
    color: #FFFFFF8C;
    margin-top: 30px;
    margin-bottom: 60px;
}

.srnjnrty{
    font-size: 14px;
    color: #FFFFFFC7;
    max-width: 393px;
    margin-top: 228px;
    margin-right: 188px;
}

.natenate6{
    background: #1e252b;
}

.ebnaetn{
    width: 400px;
    height: 492px;
    
}

.ebnaetn1{
    width: 490px;
    height: 492px;
}

.natenate7{
    background: #1e252b;
    padding-top: 250px;
}

.bwrBRw1{
    background: #283036;
    max-width: 390px;
    width: 100%;
    margin-left: 450px;
    margin-top: 100px;
    border-radius: 8px;
}

.navbar-brand {
    font-size: 22px;
    color: #FFFFFFE5 !important;
}

.nav-link{
    font-size: 16px;
    color: #FFFFFF8C !important;
}

.yjdrxyj{
    font-size: 30px;
    color: #FF6E30;
    padding-top: 15px;
    padding-left: 8px;
    
}

.rfyjnryjfn{
    font-size: 48px;
    color: #FFFFFFE5;
    margin-bottom: 25px !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rfyjnryjfn1{
    font-size: 18px;
    color: #FFFFFF8C;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rgaweraweg{
    display: flex;
}

.jryrjjry1{
    font-size: 38px;
    color: #FF6E30;
    border-radius: 8px;
    padding-top: 310px;
}

.natenate8{
    background: #1e252b;
}

.haha{
    font-size: 22px;
    color: #FFFFFFE5;
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 27px;
    padding-top: 310px;
}

.haha1{
    font-size: 16px;
    color: #FFFFFFE5;
    margin-bottom: 21px;
}

.haha2{
    font-size: 14px;
    color: #FFFFFF8C;
    max-width: 255px;
    margin-bottom: 98px;
}


.srytjnsryt1{
    font-size: 20px;
    color: #FFFFFFE5;
    margin-top: 310px;
    margin-bottom: 20px;
}


.srytjnsryt2{
    font-size: 16px;
    color: #FFFFFF8C;
    
}

.srytjnsryt3{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 20px;
}

.srytjnsryt4{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 10px;
}

.mtgtgmmtgdmtg1{
    font-size: 20px;
    color: #FFFFFFE5;
    margin-top: 310px;
}

.mtgtgmmtgdmtg2{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 20px;
}


.mtgtgmmtgdmtg3{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 10px;
}

.rstyhjsrjyrjs1{
    font-size: 20px;
    color: #FFFFFFE5;
    margin-top: 310px;
    margin-bottom: 20px;
}

.rstyhjsrjyrjs2{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 20px;
}

.rstyhjsrjyrjs3{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 10px;
}

.rstyhjsrjyrjs4{
    font-size: 16px;
    color: #FFFFFF8C;
    margin-top: 10px;
}